#header {
    color: rgb(7, 11, 200);
  }

  .testDiv{
    background-color: green;
    color: white;
  }

  #btn{
    padding: 10px;
    border: 2px solid rgb(234, 13, 13);
    margin: 20px;
    cursor: pointer;
  }

  #btn:hover{
    background-color: gray;
  }
  .name{
    color: red;
    font-size: 60px;
  }
  .read{
    background-color: yellow;
    padding:5px ;
  }